
/* Your CSS Code here. */
body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
      }
      header {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
      }
      nav {
        display: flex;
        justify-content: space-between;
        background-color: #555;
        color: #fff;
        padding: 10px;
      }
	#nav-actor{
		color:black;
	}
	#nav-quote{
		color:black;
	}
      nav a {
        color: #fff;
        text-decoration: none;
      }
      nav a:hover {
        text-decoration: underline;
      }
      section {
        padding: 20px;
      }
      section h2 {
        margin-top: 0;
      }
      aside {
        background-color: #333;
        color: #fff;
        padding: 20px;
      }
      footer {
        background-color: #555;
        color: #fff;
        text-align: center;
        padding: 10px;
      }